<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainExecutableShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="Vantus File Indexer" 
                  Description="Launch Vantus File Indexer"
                  Target="[INSTALLFOLDER]Vantus.App.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon" />
        <RemoveFolder Id="CleanupShortcut" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Vantus\VantusFileIndexer" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
